.Rproj.user
.Rhistory
.RData
.Ruserdata
.bak

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

#  temp files#
###################
*~
*.Re
*.Rproj
*.Rold

test/